 @font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/Montserrat-Regular.ttf") format("ttf");
    font-weight: 400;        
}
@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/Montserrat-Medium.ttf") format("ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/Montserrat-SemiBold.ttf") format("ttf");
    font-weight: 600;
}
@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/Montserrat-Bold.ttf") format("ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/Montserrat-Black.ttf") format("ttf");
    font-weight: 900;
}   
*{    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: Montserrat;
    font-style: normal;
    color: black;
}
.container{
    margin: 0 auto;
    width: 1400px;
}
/* main */
.main{
    background-image: url(../img/main.png);
    background-repeat: no-repeat;
    background-position: center;
}
/* header */
.header_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    padding: 27px 0 17px 0;
}
.header_text{
    color: white;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}
.number_header{
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    text-align: right;
    color: white;
}
.header_mes{
    display: flex;
}
.header_mest{
    padding: 0 8px 0 9px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: white;
}
.last{
    padding-right: 0;
}
/* intro */
.intro_title{
    border-top: 1px solid rgb(255, 255, 255);
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    padding-bottom: 15px;
    color: white;
}
.intro_subtitle{
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    padding-bottom: 38px;
    color: white;
}
.intro_subtitle span{
    color: #402D50;
}
.intro_info{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: white;
}
.intro_info1{
    display: flex;
    align-items: center;
    padding-bottom: 41px;
}
.intro_info1::before{
    content: "";
    background-image: url(../img/people-group.svg);
    width: 71px;
    height: 71px;
    display: block;
    margin-right: 50px;
}
.intro_info2{
    display: flex;
    align-items: center;
    padding-bottom: 45px;
}
.intro_info2::before{
    content: "";
    background-image: url(../img/monitor.svg);
    width: 71px;
    height: 71px;
    display: block;
    margin-right: 50px;
}
.intro_info3{
    display: flex;
    align-items: center;
    padding-bottom: 38px;
}
.intro_info3::before{
    content: "";
    background-image: url(../img/book.svg);
    width: 71px;
    height: 71px;
    display: block;
    margin-right: 50px;
}
.intro_info4{
    display: flex;
    align-items: center;
    padding-bottom: 69px;
}
.intro_info4::before{
    content: "";
    background-image: url(../img/people-audience.svg);
    width: 71px;
    height: 71px;
    display: block;
    margin-right: 50px;
}
.intro_text{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 54px;
    color: white;
}
.arrow_intro{
    position: absolute;
    bottom: 130px;
    left: 400px;
    z-index: 1;
}
.intro_btn{
    background: #A56492;
    display: flex;
    align-items: center;
    width: 299px;
    height: 91px;
    border-radius: 20px;
    justify-content: center;
}
.intro_btnT{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: white;
}
.intro_btn:hover{
    filter: drop-shadow(0px 2px 22px #FFFFFF);
}
.intro_wrapper{
    padding: 0 0 50px 53px;
}
.header_mest:hover{
    color: orange;
}
.intro{
    position: relative;
}
/* info */
.info_wr{
    display: flex;
    padding: 88px 0 70px 0;
}
.info_inf{
    padding-left: 182px;
}
.info_title{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    width: 410px;
    padding-bottom: 64px;   
}
.info_texts{
    padding-bottom: 64px;
}
.info_text{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    width: 595px;
    padding-bottom: 20px;
}
.info_texts :last-child{
    padding-bottom: 0;
}
.info_btn{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;    
    color: #FFFFFF;
    padding: 31px 43px;
    background: #A56492;
    border-radius: 20px;
}
.info_btn:hover{
    filter: drop-shadow(0px 2px 22px #000000);
}
.info_l{
    color: white;
}
/* direktor */
.dir_wr{
    display: flex;
    padding: 100px 0 115px 0;
}
.direktor_name{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #402D50; 
}
.direktor_name span{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}
.direktor_info{
    padding-left: 166px;
}
.direktor_infoTL{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 12px;
}
.direktor_infoSTL{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #402D50;
    padding-bottom: 21px;
}
.direktor_infoT{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    width: 600px;
    padding-bottom: 20px;
}
.direktor_infoT:last-child{
    padding-bottom: 0;
}
.direktor_infoTS{
    padding-bottom: 59px;
}
.call_input {
    width: 270px;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 63px;
    filter: drop-shadow(0px 2px 22px #FFFFFF);
    background: #A9A6A8;
    border-radius: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}
.call_input::placeholder{
    color: white;
}
.call_input:first-child{
    margin-right: 58px;
}
.call_inp{
    display: flex;
    align-items: start;
}
.dir_btn{
    filter: drop-shadow(0px 2px 22px #FFFFFF);
    background: #A56492;
    border-radius: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;    
    color: #FFFFFF;
    padding: 15px 50px 15px 20px;
    text-align: center;
    display: flex;
    align-items: center;
}
.dir_btn::before{
    content: "";
    background: url(../img/phone.svg) no-repeat center center / cover; 
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 9px 0 38px;
}
/* map */
.map_wr{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.map_video{
    font-weight: 700;
    font-size: 144px;
    line-height: 176px;
    text-align: center;    
    color: #FFFFFF;
    background-color: rgb(182, 182, 182);
    display: flex;
    justify-content: center;
    width: 1023px;
    height: 552.27px;
    align-items: center;
    margin-bottom: 122px;
}
.map_title{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    width: 900px;
    padding-bottom: 38px;
}
.map_title span{
    color: #402D50;
}
.map_info{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    width: 620px;
}
.map_img{
    padding-bottom: 73px;
    width: 100%;
    margin-top: -109px;
}
.map_input{
    width: 300px;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 63px;
    filter: drop-shadow(0px 2px 22px #FFFFFF);
    background: #A9A6A8;
    border-radius: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-right: 56px;
}
.map_input::placeholder{
    color: white;
}
.map_btn{
    filter: drop-shadow(0px 2px 22px #FFFFFF);
    background: #A56492;
    border-radius: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;    
    color: #FFFFFF;
    padding: 15px 0 15px 0;
    width: 300px;
}
.map_l{
    color: white;
}
/* service */
.service_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 100px 0;
}
.service_title{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    width: 660px;
    padding-bottom: 28px;
}
.service_subtitle{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding-bottom: 47px;
    width: 860px;
}
.service_var{
    display: flex;
    width: 861px;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}
.service_info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service_info1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service_t{
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    width: 250px;
}
.circle {
    background: #A56492;
    border: 3px solid #402D50;
    border-radius: 50%;
    width: 157px;
    height: 157px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}
.service_img{
    width: 75%;
}
/* view */
.view_wrapper{
    display: flex;
}
.view_info{
    padding-right: 194px;
}
.view_title{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    padding: 100px 0 200px 0;
}
.view_text{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
}
.view_text::before{
    content: "";
    background-image: url(../img/symbol-big.svg);
    width: 98px;
    height: 98px;
    display: block;
    margin-right: 14px;
}
/* income */
.income_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 100px 0;
}
.income_title{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    padding-bottom: 11px;
    text-align: center;
}
.income_title span{
    background: #A56492;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center; 
    color: #FFFFFF;
}
.income_subtitle{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding-bottom: 10px;
}
.income_wr{
    display: flex;
    padding-bottom: 28px;
    margin-bottom: 12px;
}
.income_info{
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    border-bottom: 3px dashed #A56492;
}
.income_info span{
    color: #402D50;
}
.income_cost{
    background: #A56492;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center; 
    color: #FFFFFF;
}
/* order */
.order_title{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    padding-bottom: 77px;
}
.order_title span{
    background: #A56492;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center; 
    color: #FFFFFF;
}
.order_wr{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    justify-content: center;
    padding-bottom: 100px;
}
.order_c{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.order_c:first-child{
    border-bottom: 3px solid #A56492;
}
.order_info{
    margin-left: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    background: #A56492;
    color: #FFFFFF;
    width: 124px;
}
.order_res{
    display: flex;
    align-items: center;
}
.order_res::before{
    content: "";
    background: url(../img/equals.svg) no-repeat center center / cover;
    width: 80px;
    height: 22px;
    display: block;
    margin: 0 21px;
}
/* work */

/* payment */
.payment_title{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    padding: 100px 0 50px 0;
}
.payment_wr{
    display: flex;
    align-items: center;
    padding-bottom: 100px;
}
.payment_info{
    padding-right: 53px;
}
.payment_infoTL{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
.payment_infoT{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}
.payment_infoT span{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    background: #A56492;
}
.payment_post{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    width: 250px;
    display: flex;
}
.payment_img{
    padding: 0 21px 0 96px;
}