 @font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/Montserrat-Regular.ttf") format("ttf");
    font-weight: 400;        
}
@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/Montserrat-Medium.ttf") format("ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/Montserrat-SemiBold.ttf") format("ttf");
    font-weight: 600;
}
@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/Montserrat-Bold.ttf") format("ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Montserrat";
    src: url("/assets/fonts/Montserrat-Black.ttf") format("ttf");
    font-weight: 900;
}   
*{    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: Montserrat;
    font-style: normal;
    color: black;
}
.container{
    margin: 0 auto;
    width: 1400px;
}
/* main */
.main{
    background-image: url(../img/main.png);
    background-repeat: no-repeat;
    background-position: center;
}
/* header */
.header_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    padding: 27px 0 17px 0;
}
.header_text{
    color: white;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}
.number_header{
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    text-align: right;
    color: white;
}
.header_mes{
    display: flex;
}
.header_mest{
    padding: 0 8px 0 9px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: white;
}
.last{
    padding-right: 0;
}
/* intro */
.intro_title{
    border-top: 1px solid rgb(255, 255, 255);
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    padding-bottom: 15px;
    color: white;
}
.intro_subtitle{
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    padding-bottom: 38px;
    color: white;
}
.intro_subtitle span{
    color: #402D50;
}
.intro_info{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: white;
}
.intro_info1{
    display: flex;
    align-items: center;
    padding-bottom: 41px;
}
.intro_info1::before{
    content: "";
    background-image: url(../img/people-group.svg);
    width: 71px;
    height: 71px;
    display: block;
    margin-right: 50px;
}
.intro_info2{
    display: flex;
    align-items: center;
    padding-bottom: 45px;
}
.intro_info2::before{
    content: "";
    background-image: url(../img/monitor.svg);
    width: 71px;
    height: 71px;
    display: block;
    margin-right: 50px;
}
.intro_info3{
    display: flex;
    align-items: center;
    padding-bottom: 38px;
}
.intro_info3::before{
    content: "";
    background-image: url(../img/book.svg);
    width: 71px;
    height: 71px;
    display: block;
    margin-right: 50px;
}
.intro_info4{
    display: flex;
    align-items: center;
    padding-bottom: 69px;
}
.intro_info4::before{
    content: "";
    background-image: url(../img/people-audience.svg);
    width: 71px;
    height: 71px;
    display: block;
    margin-right: 50px;
}
.intro_text{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 54px;
    color: white;
}
.arrow_intro{
    position: absolute;
    bottom: 130px;
    left: 400px;
    z-index: 1;
}
.intro_btn{
    background: #A56492;
    display: flex;
    align-items: center;
    width: 299px;
    height: 91px;
    border-radius: 20px;
    justify-content: center;
}
.intro_btnT{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: white;
}
.intro_btn:hover{
    filter: drop-shadow(0px 2px 22px #FFFFFF);
}
.intro_wrapper{
    padding: 0 0 50px 53px;
}
.header_mest:hover{
    color: orange;
}
.intro{
    position: relative;
}
/* info */
.info_wr{
    display: flex;
    padding: 88px 0 70px 0;
}
.info_inf{
    padding-left: 182px;
}
.info_title{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    width: 410px;
    padding-bottom: 64px;   
}
.info_texts{
    padding-bottom: 64px;
}
.info_text{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    width: 595px;
    padding-bottom: 20px;
}
.info_texts :last-child{
    padding-bottom: 0;
}
.info_btn{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;    
    color: #FFFFFF;
    padding: 31px 43px;
    background: #A56492;
    border-radius: 20px;
}
.info_btn:hover{
    filter: drop-shadow(0px 2px 22px #000000);
}
.info_l{
    color: white;
}
/* direktor */
.dir_wr{
    display: flex;
    padding: 100px 0 115px 0;
}
.direktor_name{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #402D50; 
}
.direktor_name span{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}
.direktor_info{
    padding-left: 166px;
}
.direktor_infoTL{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 12px;
}
.direktor_infoSTL{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #402D50;
    padding-bottom: 21px;
}
.direktor_infoT{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    width: 600px;
    padding-bottom: 20px;
}
.direktor_infoT:last-child{
    padding-bottom: 0;
}
.direktor_infoTS{
    padding-bottom: 59px;
}
.direktor_call{
    width: 614px;
}
/* .call_input {
    width: 270px;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 63px;
    filter: drop-shadow(0px 2px 22px #FFFFFF);
    background: #A9A6A8;
    border-radius: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}
.call_input::placeholder{
    color: white;
}
.call_input:first-child{
    margin-right: 58px;
}
.call_inp{
    display: flex;
    align-items: start;
}
.dir_btn{
    filter: drop-shadow(0px 2px 22px #FFFFFF);
    background: #A56492;
    border-radius: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;    
    color: #FFFFFF;
    padding: 15px 50px 15px 20px;
    text-align: center;
    display: flex;
    align-items: center;
}
.dir_btn::before{
    content: "";
    background: url(../img/phone.svg) no-repeat center center / cover; 
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 9px 0 38px;
} */
/* map */
.map_wr{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.map_video{
    font-weight: 700;
    font-size: 144px;
    line-height: 176px;
    text-align: center;    
    color: #FFFFFF;
    background-color: rgb(182, 182, 182);
    display: flex;
    justify-content: center;
    width: 1023px;
    height: 552.27px;
    align-items: center;
    margin-bottom: 122px;
}
.map_title{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    width: 900px;
    padding-bottom: 38px;
}
.map_title span{
    color: #402D50;
}
.map_info{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    width: 620px;
}
.map_img{
    padding-bottom: 73px;
    width: 100%;
    margin-top: -109px;
}
.map_input{
    width: 300px;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 63px;
    filter: drop-shadow(0px 2px 22px #FFFFFF);
    background: #A9A6A8;
    border-radius: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-right: 56px;
}
.map_input::placeholder{
    color: white;
}
.map_btn{
    filter: drop-shadow(0px 2px 22px #FFFFFF);
    background: #A56492;
    border-radius: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;    
    color: #FFFFFF;
    padding: 15px 0 15px 0;
    width: 300px;
}
.map_l{
    color: white;
}
/* service */
.service_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 100px 0;
}
.service_title{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    width: 660px;
    padding-bottom: 28px;
}
.service_subtitle{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding-bottom: 47px;
    width: 860px;
}
.service_var{
    display: flex;
    width: 861px;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}
.service_info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service_info1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service_t{
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    width: 250px;
}
.circle {
    background: #A56492;
    border: 3px solid #402D50;
    border-radius: 50%;
    width: 157px;
    height: 157px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
}
.service_img{
    width: 75%;
}
/* view */
.view_wrapper{
    display: flex;
}
.view_info{
    padding-right: 194px;
}
.view_title{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    padding: 100px 0 200px 0;
}
.view_text{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
}
.view_text::before{
    content: "";
    background-image: url(../img/symbol-big.svg);
    width: 98px;
    height: 98px;
    display: block;
    margin-right: 14px;
}
/* income */
.income_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 100px 0;
}
.income_title{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    padding-bottom: 11px;
    text-align: center;
}
.income_title span{
    background: #A56492;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center; 
    color: #FFFFFF;
}
.income_subtitle{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    padding-bottom: 10px;
}
.income_wr{
    display: flex;
    padding-bottom: 28px;
    margin-bottom: 12px;
}
.income_info{
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    border-bottom: 3px dashed #A56492;
}
.income_info span{
    color: #402D50;
}
.income_cost{
    background: #A56492;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center; 
    color: #FFFFFF;
}
/* order */
.order_title{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    padding-bottom: 77px;
}
.order_title span{
    background: #A56492;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center; 
    color: #FFFFFF;
}
.order_wr{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    justify-content: center;
    padding-bottom: 100px;
}
.order_c{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.order_c:first-child{
    border-bottom: 3px solid #A56492;
}
.order_info{
    margin-left: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    background: #A56492;
    color: #FFFFFF;
    width: 124px;
}
.order_res{
    display: flex;
    align-items: center;
}
.order_res::before{
    content: "";
    background: url(../img/equals.svg) no-repeat center center / cover;
    width: 80px;
    height: 22px;
    display: block;
    margin: 0 21px;
}
/* work */
.work{
    height: 778px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    margin-bottom: 100px;
}
.work h2{
    font-size: 36px;
    font-weight: 700;
    margin-top: 15px;
    text-align: center;
}
.work_span1{
    color: white;
    background-color: #A56492;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    margin-left: 7px;
}
.work_contLeft{
    display: flex;
    flex-direction: column;
}
.work_contLeft h4{
    font-size: 24px;
    font-weight: 700;
}
.work_contLeft h5{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
.work_textCont span{
    color: #402D50;
}
.work_textCont p{
    font-size: 24px;
    font-weight: 500;
}
#work_specSpan2{
    font-size: 24px;
    font-weight: 500;
    color: black;
}
#work_specSpan1{
    color: #402D50;
}
.work_FULL{
    display: flex;
    margin-top: 70px;
}
.work_contRight{
    display: flex;
    align-items: flex-end;
    height: 550px;
}
.work_cont{
    display: flex;
    width: 660px;
    align-items: center;
    padding-bottom: 42px;
}
.work_cont img{
    margin-right: 70px;
}
/* payment */
.payment_title{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    padding: 100px 0 50px 0;
}
.payment_wr{
    display: flex;
    align-items: center;
    padding-bottom: 100px;
}
.payment_info{
    padding-right: 53px;
}
.payment_infoTL{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
.payment_infoT{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}
.payment_infoT span{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    background: #A56492;
}
.payment_post{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    width: 250px;
    display: flex;
}
.payment_img{
    padding: 0 21px 0 96px;
}
/* monet */
.monet{    
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.monet_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1600px;
}
.monet h2{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 80px;
    text-align: center;
}
.monet_FULL p{
    font-size: 24px;
    font-weight: 500;
}
.monet_span1{
    background-color: #A56492;
    color: white;
}
.monet_span2{
    font-weight: 700;
}
.monet_contText{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
}
.monet_contRight{
    position: absolute;
    margin-left: 500px;
    margin-top: 140px;
}
.monet_contLeft{
    margin-left: 100px;
}
/* excel */
.excel_wr{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 461px;
    margin-top: 50px;
}
.excel_contRight{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.excel_contRight p{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}
.excel_contRight h2{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}
.excel_cont{
    display: flex;
}
.excel_cont input{
    width: 304.89px;
    height: 60px;
    background-color: #A9A6A8;
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-style: none;
    font-weight: 400;
    font-size: 24px;
    margin-right: 60px;
}
.excel_cont input::placeholder{
    color: white;
    font-weight: 400;
}
.excel_button{
    width: 327.92px;
    height: 60px;
    background-color: #A56492;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
}
.excel_button h4{
    font-size: 24px;
    font-weight: 400;
}
.excel_button img{
    margin-right: 20px;
    width: 50.24px;
    height: 43.58px;
}
.excel_button:hover{
    font-size: 27px;
    transition: 500ms;
    filter: drop-shadow(0px 2px 22px #A56492);
}
.excel_button a{
    color: white;
}
/* docs */
.docs{
    height: 1269px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.docs_cont1{
    display: flex;
}
.docs_cont2{
    display: flex;
}
.docs_cont2 div:last-child{
    visibility: hidden;
}
.docs_cont{
    height: 260px;
    width: 260px;
    background-color: #A56492;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
    justify-content: space-around;
    transition: 500ms;
    margin-top: 50px;
}
.docs_cont h4{
    font-weight: 700;
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
}
.docs_cont:last-child{
    margin-right: 0px;
}
.docs_cont:hover{
    background-color: #b675a2;
    transition: 500ms;
}
.docs h2{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
}
.docs span{
    color: #402D50;
}
.docs p{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
/* all */
.all{
    height: 1216px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.all h2{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
}
.all p{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.all h4{
    font-size: 24px;
    font-weight: 700;
    color: white;
}
.all a{
    color: white;
}
.all_button{
    background-color: #A56492;
    width: 453px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    border-radius: 20px;
    transition: 500ms;
}
.all_Full{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.all_button:hover{
    background-color: #A56492;
    transition: 500ms;
    filter: drop-shadow(0px 2px 22px #A56492);
}
/* recall */
.recall{
    height: 699px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.recall h2{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 70px;
}
.recall_containers{
    display: flex;
    margin-bottom: 20px;
}
.recall_containers:last-child{
    display: flex;
    margin-bottom: 0px;
}
.recall_cont{
    background-color: #A9A6A8;
    height: 185px;
    width: 325px;
    margin-right: 100px;
}
.recall_cont:last-child{
    background-color: #A9A6A8;
    height: 185px;
    width: 325px;
    margin-right: 0px;
}
.recall_Full{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* first */
.first{
    height: 500px;
    background: url(../img/Frame.png) no-repeat center center;;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first_con h2{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}
/* second */
.second_wr{
    height: 432px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.second_Full{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.second_cont{
    display: flex;
}
.second h2{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
}
.second p{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
}
.second_cont input{
    width: 299.92px;
    height: 60px;
    background-color: #A9A6A8;
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-style: none;
    margin-right: 60px;
    font-weight: 400;
    font-size: 24px;
}
.second_cont input::placeholder{
    color: white;
    font-weight: 400;
}
.second_button{
    width: 456px;
    height: 60px;
    background-color: #A56492;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.second_button h4{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 24px;
}
.second_button:hover{
    background-color: #A56492;
    transition: 500ms;
    filter: drop-shadow(0px 2px 22px #A56492);
}
.second_button a{
    color: #FFFFFF;
}
/* download */
.download_wr{
    height: 911px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.download_Full{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.download_ContPrimary{
    display: flex;
    margin-top: 40px;
}
.download h2{
    font-size: 36px;
    font-weight: 700;
}
.download p{
    font-size: 20px;
    font-weight: 600;
}
.download_SPECimg{
    margin-top: 40px;
    margin-bottom: 80px;
}
.download_inputCont input{
    width: 233px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 24px;
    margin-right: 60px;
    background-color: #A9A6A8;
    border-radius: 20px;
    border-style: none;
    text-align: center;
    color: #FFFFFF;
}
.download_inputCont input:last-child{
    width: 215px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 24px;
    margin-right: 60px;
    background-color: #A9A6A8;
    border-radius: 20px;
    border-style: none;
    text-align: center;
    color: #FFFFFF;
}
.download_inputCont input::placeholder{
    color: #FFFFFF;
}
.download_inputCont{
    display: flex;
}
.docs_cont a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.docs_cont img{
    width: 102px;
    height: 102px;
}
/* questions */
.questions{
    height: 813px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.questions_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.questions_wrapper h2{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 100px;
}
.questions_ContSPEC{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.questions_Cont{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.srction19__sphere{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A56492;
}
.srction19__sphere img{
    height: 48px;
    width: 48px;
}
.questions_wrapper h4{
    font-size: 20px;
    font-weight: 700;
    margin-left: 15px;
}
.questions_wrapper p{
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    margin-left: 40px;
}
.questions_PrimaryCont div:last-child{
    margin-bottom: 0px;
}






/* last1 */
.last1{
    height: 872px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}
.last1_contRight h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    padding-bottom: 28px;
}
.last1_contRight p{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 28px;
}
.last1_contLeft h2{
    font-size: 14pt;
    font-weight: 700;
    padding-bottom: 35px;
}
.last1_contRight{
    margin-right: 170px;
}
.last1_contLeft h4{
    font-size: 15pt;
    font-weight: 700;
    color: #402D50;
}
.last1_contRight p:last-child{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0px;
}
.last1_wr{
    display: flex;
}
.last1_buttonCont1{
    display: flex;
    margin-top: 30px;
}
.last1_button1 input{
    width: 278px;
    height: 60px;
    background-color: #A9A6A8;
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-style: none;
    margin-right: 60px;
    font-weight: 500;
    font-size: 24px;
}
.last1_button1 input::placeholder{
    color: white;
    font-weight: 400;
    font-size: 24px;
}
.last1_buttonCont1:last-child{
    margin: 0px;
}
#section3__buttonText{
    font-weight: 400;
    font-size: 18pt;
    color: white;
    text-align: center;
    transition: 500ms;
}
.last1_buttonCont2{
    margin-top: 60px;
    display: flex;
}
.last1_button2:last-child{
    width: 278px;
    height: 91px;
    background-color: #A56492;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0px;
}
.last1_button2 input{
    width: 278px;
    height: 91px;
    background-color: #A9A6A8;
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-style: none;
    margin-right: 60px;
    font-weight: 500;
    font-size: 24px;
}
.last1_button2 input::placeholder{
    color: white;
    font-weight: 400;
    font-size: 24px;
}
.last1_buttonCont1:last-child{
    margin: 0px;
}
.last1_button2 img{
    margin-right: 10px;
}
.last1_button2:hover{
    filter: drop-shadow(0px 2px 22px black); 
}
.last1_button1:hover{
    filter: drop-shadow(0px 2px 22px black); 
}
/* last 2 */
.last2{
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.last2_wr{
    display: flex;
    justify-content: center;
}
.last2_Left{
    display: flex;
    flex-direction: column;
    margin-left: 65px;
    margin-top: 50px;
}
.last2_Left h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    padding-bottom: 28px;    
}
.last2_Left p{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}
.last2_ContPrim{
    display: flex;
    flex-direction: column;
}
.last2_Cont1{
    display: flex;
}
.last2_Cont2{
    display: flex;
}
.last2_Cont1 input{
    width: 278px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 24px;
    margin-right: 127px;
    background-color: #A9A6A8;
    border-radius: 20px;
    border-style: none;
    text-align: center;
    color: #FFFFFF;
    margin-top: 50px;
}
.last2_Cont1 input:last-child{
    width: 278px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 24px;
    margin-right: 0px;
    background-color: #A9A6A8;
    border-radius: 20px;
    border-style: none;
    text-align: center;
    color: #FFFFFF;
}
.last2_Cont2 input{
    width: 684px;
    height: 60px;
    display: flex;
    justify-content: start;
    padding-left: 40px;
    align-items: center;
    font-weight: 400;
    font-size: 24px;
    background-color: #A9A6A8;
    border-radius: 20px;
    border-style: none;
    margin-top: 25px;
    color: #FFFFFF;
}
.last2_Cont1 input::placeholder{
    color: #FFFFFF;
}
.last2_Cont2 input::placeholder{
    color: #FFFFFF;
}
.last2_button{
    width: 278px;
    height: 60px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A56492;
    transition: 500ms;
    margin-top: 25px;
}
.last2_btn{
    display: flex;
    align-items: center;
}
.last2_button img{
    margin-right: 15px;
}
.last2_button h4{
    font-size: 24px;
    font-weight: 400;
    color: #FFFFFF;
}
.last2_button:hover{
    background-color: #A56492;
    transition: 500ms;
    filter: drop-shadow(0px 2px 22px #A56492);
}
.last2_button a{
    display: flex;
}
.last2_Full h2{
    font-size: 36px;
    font-weight: 700;
}
.last2_Full p{
    font-size: 20px;
    font-weight: 600;
    margin-top: 25px;
}
.last2_Right{
    height: 612px;
}
/* footer */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 342px;
    background-color: #402D50;
    padding-top: 30px;
    padding-bottom: 20px;
}
.footer__cont3{
    display: flex;
    flex-direction: column;
}
.footer__social{
    display: flex;
}
footer p{
    font-size: 20px;
    color: white;
}
footer h3{
    font-size: 30px;
    color: white;
    font-weight: 900;
}
#footer__text{
    font-size: 15pt;
    color: white;
    font-weight: 400;
    margin-right: 10px;
}
#footer__text:last-child{
    font-size: 15pt;
    color: white;
    font-weight: 400;
    margin: 0 0 0 0;
}
#footer__text:hover{
    color: orange;
}
footer img{
    margin: 0 10px 0 8px;
}
.footer__number{
    display: flex;
    justify-content: end;
}
.footer__Prim{
    display: flex;
    justify-content: space-around;
    width: 1600px;
}
.footer__line{
    width: 1425px;
    height: 5px;
    background-color: #FFFFFF;
    margin-top: 10px;
}
.footer__backCont{
    display: flex;
    width: 1425px;
    margin-top: 40px;
}
#SPEC__a{
    color: #FFFFFF;
    text-decoration: underline;
    margin-right: 385px;
}
#SPEC__a:hover{
    color: orange;
}
#SPEC__b{
    color: #FFFFFF;
    text-decoration: underline;
    margin-right: 215px;
}
#SPEC__b:hover{
    color: orange;
}
#SPEC__c{
    color: #FFFFFF;
    text-decoration: underline;
}
#SPEC__c:hover{
    color: orange;
}